[Desktop Entry]
Version=1.0
Type=Application

Name=Java Geometry Expert
Comment=Dynamic geometry + automated proofs
Categories=Science;Education;Math;

Icon=io.github.ADG_Foundation.Java-Geometry-Expert
Exec=jgex
Terminal=false
